<div class="client-container">

  <div class="header uk-flex uk-flex-around uk-margin-medium-top">
    <h2 class="uk-margin-remove">Solicitudes de Devolución</h2>
  </div>

  <hr>

  <div class="uk-margin-medium-top uk-flex uk-flex-center">
    <input class="uk-input" style="width: 70%" type="text" placeholder="Buscar por cliente..."
    [(ngModel)]="client" (keyup)="filterApplications()">
  </div>

  <div class="table-container uk-flex uk-flex-center uk-margin-small-top" *ngIf="tab === 'list'">

    <table class="uk-table uk-table-striped table" id="table">
      <thead>
      <tr>
        <th class="admin--heading" *ngFor="let header of headers">{{header}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let a of filteredApplications">
        <td>{{a?.name}}</td>
        <td>{{a?.lastname}}</td>
        <td>{{a?.email}}</td>
        <td>{{a?.type}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table uk-flex uk-flex-center uk-margin-medium-top" *ngIf="tab === 'application'">

  </div>


</div>
