<div class="client-container">

  <h2 style="margin: 20px 20px 20px 6%">Solicitudes de Devolución</h2>

  <div class="tabs-container uk-flex uk-flex-center">

    <ul class="uk-margin-medium-bottom" style="width: 90%" uk-tab *ngIf="authService.isManager()">
      <li id="all" class="uk-active" (click)="switchTab('all')"><a>Todas</a></li>
      <li id="new" (click)="switchTab('new')"><a>Nuevas</a></li>
      <li id="warehouse" (click)="switchTab('warehouse')"><a>En almacen</a></li>
      <li id="accepted" (click)="switchTab('controlled')"><a>Controladas</a></li>
      <li id="note" (click)="switchTab('note')"><a>Con Nota</a></li>
    </ul>

    <ul class="uk-margin-medium-bottom" style="width: 90%" uk-tab *ngIf="!authService.isManager()">
      <li id="warehouseController"><a>En almacen</a></li>
    </ul>

  </div>

  <div class="all-container">

    <div class="uk-flex uk-flex-center">
      <input class="uk-input" style="width: 70%" type="text" placeholder="Buscar por cliente..."
             [(ngModel)]="clientSearch" (keyup)="filterApplications()">
    </div>

    <div class="table-container uk-flex uk-flex-center uk-margin-small-top">

      <table class="uk-table uk-table-striped table" id="table">
        <thead>
        <tr>
          <th *ngFor="let header of headers">{{header}}</th>
          <th *ngIf="tab !== 'controlled'">Ver</th>
          <th class="uk-flex uk-flex-center" *ngIf="tab === 'controlled'">Generar Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row" *ngFor="let a of filteredApplications">
          <td>{{a?.id}}</td>
          <td>{{a?.client}}</td>
          <td>{{a?.date | date: 'dd/MM/yyyy - hh:mm'}}</td>
          <td>{{a?.state}}</td>
          <td *ngIf="tab !== 'controlled'">
            <a class="uk-text-center" uk-icon="icon: cart" (click)="reviewApplication(a)"></a>
          </td>
          <td *ngIf="tab === 'controlled'" class="uk-flex uk-flex-center">
            <a class="uk-text-center" uk-icon="icon: pencil" (click)="generateNote(a?.id)"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
