
build
logs
target
/.idea
/.idea_modules
/.classpath
/.gradle
/.project
/.settings
/RUNNING_PID
/.vscode
.idea/
*.hdf5
/node_modules
node_modules
.DS_Store
/.DS_Store
*.log
*.xml
*.jpg
*.png
*.jpeg
foto-perfil.jpg
