.form {
  width: 70%;
}

.table {
  margin-bottom: 0;
}

.selectProducts {
  width: 60%;
}

.selectQuantity {
  width: 15%;
}

.selectType {
  width: 25%;
}

.add-product {
  margin-top: 5px;
  border-radius: 5px;
}
