<div class="review-application">


  <div class="header uk-flex uk-flex-around uk-margin-medium-top">
    <h2 style="margin: 0">Solicitud de Devolución N˚{{application?.id}}</h2>
    <button class="uk-button uk-button-primary toggleTabButton" (click)="finishControlling()"
            *ngIf="state === 'en almacen'" [disabled]="!hasFinishedControlling">
      Terminar Control
    </button>
    <div class="buttons" *ngIf="state === 'nueva'">
      <button class="uk-button uk-button-primary toggleTabButton" (click)="accept_denyApplication('accept')">
        Aceptar
      </button>
      <button class="uk-button uk-button-danger toggleTabButton" (click)="accept_denyApplication('deny')">
        Rechazar
      </button>
    </div>
  </div>

  <hr>

  <div class="uk-flex uk-flex-center">

    <form class="form">
      <div class="uk-margin">
        <label class="uk-form-label" for="date">Fecha</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="date" type="text" disabled
                 value="{{application?.date | date: 'dd/MM/yyyy - hh:mm'}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="description">Descripción</label>
        <div class="uk-form-controls">
          <textarea class="uk-textarea" id="description" rows="5" disabled
                    placeholder="{{application?.description}}"></textarea>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="table">Productos</label>
        <table class="table uk-table uk-table-striped" id="table">
          <thead>
          <tr>
            <th *ngFor="let header of headers">{{header}}</th>
            <th *ngIf="state === 'en almacen'" class="uk-flex uk-flex-center">Seleccionar Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row" *ngFor="let p of application?.products">
            <td>{{p?.name}}</td>
            <td>{{p?.date | date}}</td>
            <td>{{p?.lot}}</td>
            <td>{{p?.quantity}}</td>
            <td class="uk-flex uk-flex-center" *ngIf="state === 'en almacen'">
              <a uk-icon="icon: check" (click)="setProductState(p, 'good')"
                 id="{{p?.name}}-good"></a>
              <a uk-icon="icon: close" (click)="setProductState(p, 'bad')"
                 id="{{p?.name}}-bad"></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>

  </div>

</div>
