<div class="client-container">

  <div class="header uk-flex uk-flex-around uk-margin-medium-top">
    <h2 class="uk-margin-remove" *ngIf="tab === 'list'">Solicitudes de Devolución</h2>
    <h2 class="uk-margin-remove" *ngIf="tab === 'application'">Nueva Solicitud de Devolución</h2>
    <button class="uk-button uk-button-primary toggleTabButton" (click)="tab = 'application'" *ngIf="tab === 'list'">
      Nueva Solicitud
    </button>
    <button class="uk-button uk-button-secondary toggleTabButton" *ngIf="tab === 'application'"
            [disabled]="!validApplication()" (click)="generateApplication()" >
      Generar Solicitud
    </button>
  </div>

  <hr>

  <div class="table-container uk-flex uk-flex-center uk-margin-medium-top" *ngIf="tab === 'list'">
    <table class="table uk-table uk-table-striped" id="table">
      <thead>
      <tr>
        <th class="admin--heading" *ngFor="let header of headers">{{header}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let a of applications">
        <td>{{a?.id}}</td>
        <td>{{a?.date | date: 'dd/MM/yyyy - hh:mm'}}</td>
        <td>{{a?.state}}</td>
        <td><a class="uk-text-center" uk-icon="icon: cart" (click)="reviewApplication(a)"></a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="new-application-container" *ngIf="tab === 'application'">
    <app-new-application></app-new-application>
  </div>


</div>
