<div class="client-container">

  <div class="header uk-flex uk-flex-around uk-margin-medium-top">
    <h2 class="uk-margin-remove">Solicitudes de Devolución</h2>
    <button class="uk-button uk-button-primary toggleTabButton" (click)="router.navigate(['/new-application'])">
      Nueva Solicitud
    </button>
  </div>

  <hr>

  <div class="table-container uk-flex uk-flex-center uk-margin-medium-top">
    <table class="table uk-table uk-table-striped" id="table">
      <thead>
      <tr>
        <th class="admin--heading" *ngFor="let header of headers">{{header}}</th>
        <th class="admin--heading">Ver nota</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let a of applications">
        <td>{{a?.id}}</td>
        <td>{{a?.date | date: 'dd/MM/yyyy - hh:mm'}}</td>
        <td>{{a?.state}}</td>
        <td><a class="uk-text-center" uk-icon="icon: cart" (click)="reviewApplication(a)"></a></td>
        <td
          uk-tooltip="title: Una vez que la solicitud haya sido controlada, podra ver la nota de credito; pos: bottom">
          <a class="uk-text-center" [ngClass]="{'inactiveLink': a.state.toLowerCase() !== 'con nota'}"
             uk-icon="icon: file-text" (click)="reviewNote(a)"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
