/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}


.uk-button {
  border-radius: 5px;
  margin-left: 5px !important;
  width: 200px;
}

textarea {
  resize: none;
}
