.main-container {
  height: 100vh;
  background: #2B323A no-repeat top center;
}

.login-logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #c0c0c0;
  border-radius: 10px;

  opacity: 0.7;
}

a {
  font-size: 1.1rem !important;
}
